/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */
.question, .answer {
  background-color: rgba(245, 243, 243, 0.74);
  padding: 12px;
  margin-top: 30px;
}


body {
  width: 800px;
  margin: 0 auto;
}
